/*
Will Green
*/

html {
    position: relative;
}

header, body, footer {
    margin: 0;
    padding: 0;
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
    box-sizing: border-box;
    background-color: #eceef1;
}

.sign-in {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 2em;
    margin-top: 15px;
    margin-right: 30px;
    margin-left: 30px;
}

.sign-in-button {
    display: inline-block;
    margin: 10px;
    font-size: 1.25em;
    background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: white;
    padding: 8px 16px;
}

.sign-in-button:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.pictures {
    text-align: center;
}

#logo {
    height: 83px;
    width: auto;
    opacity: .4;
    animation-duration: 4s;
    animation-name: fadein;
}

@keyframes fadein {

    from {
        animation-delay: 5s;
        opacity: 0;
    }

    75% {
        opacity: .6;
    }

    to {
        opacity: .4;
    }
}

@keyframes slidein {
    
    from {
        margin-left: 50%;
        opacity: 0;
    }

    to {
        margin-left: 0%;
        opacity: 1;
    }
}

.icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    animation-duration: 1.5s;
    animation-name: slidein;
}

.icons li {
    display: inline-block;
    position: relative;
}

.icons li img {
    width: 27px;
    height: auto;
    bottom: 0;
}

#icon-text {
    bottom: 8px;
    font-size: 19px;
    font-weight: 200;
    color: #858585;
}

main {
    margin: 0 auto;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #c7c7c7;
    background-color: #ffffff;
    border-radius: 2px;
    margin-top: 12px;
    padding-top: 30px;
    width: 380px;
}

main header {
    background-color: white;
}

.catch-phrase {
    font-size: 24px;
    line-height: 1.1;
    color: #4c4c4c;
}

.sub-phrase {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 14px;
    color: #4c4c4c;
    line-height: 1.2;
    font-weight: 300;
}

#learn-more {
    font-size: 12px;
}

.account-info {
    border: none;
    margin: 0 1.5em;
}

.account-info label {
    display: block;
    text-align: left;
    color: #404040;
    line-height: 25px;
    font-size: 14px;
    margin-bottom: 30px;
}

.account-info label input {
    height: 30px;
    width: 100%;
    border: 1px solid #C1C5C8;
    border-radius: 3px;
    line-height: 1.3em;
}

#data-rates-disclaimer {
    font-size: 10px;
}

#password {
    margin-bottom: 15px;
}

.account-action {
    border: none;
    margin: 0 1.5em;
    margin-bottom: 30px;
}

.account-action button{
    background: #0077C5;
    border-radius: 3px;
    border: 1px solid #0077C5;
    color: white;
    font-size: 16px;
    width: 100%;
    text-transform: capitalize;
    height: 44px;
    font-weight: 300;
}

.account-action button:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.terms-of-use {
    font-size: 12px;  
    font-style: italic;
    color: #757575; 
    margin-bottom: 30px;
    line-height: 1.75; 
}

.terms-of-use a {
    text-decoration: none;
    color: #0077C5;
}

.terms-of-use a:hover {
    text-decoration: underline;
}

.captcha {
    background-color: #ECEEF1;
    padding: 20px;
    color: #8d9096;
    font-size: 10px;
}

.captcha a {
    text-decoration: none;
    color: #0077C5;
}

.captcha a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px 0;
    color: #505050;
    font-size: 12px;
    line-height: 1.5;
}

.legal-privacy-security {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.legal-privacy-security li {
    display: inline-block;
    position: relative;
    margin: 0 4px;
}

.legal-privacy-security li a {
    text-decoration: none;
    color: #505050;
}

.legal-privacy-security li a:hover {
    text-decoration: underline;
}